{% extends "base.html" %}

{% block title %}Список постов{% endblock %}

{% block content %}
<h1 class="mt-5">Посты блога</h1>

<!-- Контейнер для списка постов -->
<div class="list-group">
  {% for post in blogs %}
  <div class="list-group-item">
    <!-- Заголовок поста -->
    <h5>{{ post.title }}</h5>
    <!-- Краткое содержимое поста (первые 100 символов) -->
    <p>{{ post.content[:100] }}...</p>
    <!-- Кнопка для чтения полного поста -->
    <a href="/post/{{ post.id }}" class="btn btn-secondary mt-1">Читать далее</a>
    <!-- Кнопка для редактирования поста -->
    <a href="/edit_post/{{ post.id }}" class="btn btn-warning mt-1">Редактировать</a>
    <!-- Кнопка для удаления поста -->
    <a href="/delete_post/{{ post.id }}" class="btn btn-danger mt-1">Удалить</a>
  </div>
  {% endfor %}
</div>
{% endblock %}